*{
    border: 0;
    margin: 0;
}
#logo{
    width: 100%;
    padding: 100px 15px ;
    text-align: center;
    font-size: 35px;
    /* background-color: #282d34; */
    background: url(https://www.fitmeals.co.in/wp-content/uploads/2018/02/inner-page.jpg) no-repeat center center/cover;
    margin-bottom: 70px ;
    margin-top: 102px;
    }
    #logo>h1{
        color: white;
    }

    table,
    td,
    th {
        text-align: center;
    }
    main{
        width: 50%;
        margin: auto;
        height:auto;
        
    }
    table{
        width: 100%;
        margin: auto;
        border-collapse: collapse;
    }
    
    th,
    td {
        padding: 15px;
    }
    th:nth-child(1){
        border-top-left-radius: 40px;
    }
    th:nth-child(6){
        border-top-right-radius: 40px;
    }
    
    tr > th {
      background-color: black;
      color: white;
    }
#address{
    width: 400px;
    height: auto;
    border: 2px solid red;
    margin-left: 58%;
    margin-top: -20px;
    /* position: absolute; */
    /* bottom: 0;
    right: 0; */
}
#address,tr,td{
    border: 1px solid rgb(220, 229, 214);
}
p{
    padding-right: 10px;
    text-align: right;
    text-decoration: none;
    margin-top: 10px ;
}
a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    text-decoration: underline;
}
#payment{
    width: 250px;
    padding: 18px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #da2424;
    border-radius: 40px ;
    margin: auto;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
#payment:hover{
    transition: color 0.5s ease;
    background-color: #99b16d;
}

#coupon>input{
    margin-top: 40px;
    border: 1px solid rgb(212, 191, 191);
    padding: 14px;
    margin-left: 10px;
    border-radius: 20px;
}
#coupon_btn{
    width: 18%;
    padding: 16px;
    border: 0;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: #da2424;
    border-radius: 40px ;
    margin: auto;
    margin-left: -70px;
    margin-bottom: 20px;
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
}
#coupon_btn:hover{
    transition: color 0.5s ease;
    background-color: #99b16d;
}
#cart_image{
    width: 100px;
    height: auto;
    margin-bottom: -50px;
    background-image: cover;
    font-weight: bolder;
}
#quantity_manager{
    width: 80px;
    border: 1px solid rgb(145, 141, 141);
    cursor: pointer;
    padding: 12px;
    border-radius: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
}
input[type=number]::-webkit-inner-spin-button {
    width: 30px;
    /* position: absolute; */
    top: 0;
    right: 10px;
    height: 100%;
  }

  #updatechange{
      width: 250px;
      padding: 20px;
      border-radius: 30px;
  }
  #updatechange:hover{
    transition: color 0.5s ease;
    background-color: #9ac646;
  }
  #shiptotal ,#subtotal{
      font-size: 25px;
      font-weight: bolder;
      text-align: right;
      padding-right: 30px;
    }
    #address span{
        font-size: 20px;
        font-weight: bolder;
  }
  i{
      margin-left: 10px;
  }
  #foot #footer{
      width: 100%;
      bottom: 0;
  }