.not_just_food{
    width: 100%;
    display: flex;
    flex-direction: row;

}
#not_just_food_first{
    width: 50%;
    padding:3%;
}
#not_just_food_second{
    width: 20%;
    padding:3%;
}
#not_just_food_third{
    width: 30%;
    padding:3%;

}
.text_green{
    color: #8ec038;
}
body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
ul{
    line-height: 3rem;
}
.pt2{
    padding-top: 2rem;
}
#btn{
    /* padding: 20px; */
    padding: 20px 30px 20px 30px;
    background-color: black;
    border-radius: 30px;
    color: white;
    /* font-weight: bolder; */
    font-size: 20px;
    border: none;
    
}
#btn:hover{
    background-color: white;
    color: black;
    transition: 0.7s linear;
    border: 0px;
}
h2{
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 15px;
}
.center{
    
    width: 70%;
    margin: auto;
    text-align: center;
}

.font-italic{
    font-family:'Sacramento', cursive;
    font-weight: 100;

}
p{
    margin-top: 0px;
    font-size: 14px;
    font-weight: 450;
}
#bg-green{
    background: #f3f5ed;
    padding:3%;
}
.bg-green-child{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: auto;
    width: 80%;
    margin: auto;
    justify-content: space-around;
    
}
.bg-green-child>div{
    text-align: center;
    padding: 0px 20px 0px 20px;
}
.bg-light-green{
    margin: auto;
    background: #8ec038;
    padding: 10%;
    width: 62px;
    height: 62px;
    border-radius: 50%;
}
.bg-light-green:hover {
    transition: all 0.3s ease;
    transition: scaleX(1);
    transform: rotateY(180deg);

}
.bg-img{
    border-radius: 50%;
   padding: 3%;
}
.bg-img:hover{
    transition: all 0.3s ease;
    transform: rotate(360deg);
    animation: spin 15s linear infinite;
    z-index: 0;
}
.mt20{
    padding-top: 40px;
    text-align: center;
}
@keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

.bg-joinmail{
    width:100% ;
    height: 400px;
    background-color: #8ec038;
    text-align: center;
    padding-top: 10px;

}
.txt-white{
    color: white;
}
#wrap-btn{
    margin-top: 40px;
    position: relative;
}
#btn-sub{
    position: absolute;
    padding: 20px 30px 20px 30px;
    background-color: red;
    border-radius: 30px;
    color: white;
    font-size: 15px;
    border: none;
    font-weight: 700;
    right: 480px;
    
}
#btn-sub:hover{
    background-color: black;
    color:white;
    transition: 0.7s linear;
    border: 0px;
}
#email-sub{
    padding: 20px 30px 20px 30px;
    border-radius: 30px;
    border: 0px;
    width: 350px;
}

/* #email-sub,#btn-sub{
    float: right;
} */

#blog-cards{
    
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 320px 200px 200px;
    gap: 10px;
    justify-content: space-around;
    

}
#blog-cards>div{
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
    max-width: 450px;
    margin: auto;
    text-align: center;
    font-family: arial;
    /* border: 1px solid red; */
    text-align: center;
    border-radius: 20px;
    background: #f3f5ed;
    
}
#blog-cards>div>div>h2{
        font-size: 2rem;
}
.img-fbcards{
    width: 100%;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}
.img-fbcards:hover{
   
    transform: scale(1.05);
    transition: transform 3.5s;
}
.pad-divblog{
    padding: 3% 12% 3% 12%;
}
hr{
    border: 0.5px solid white;
}
h2+p{
    margin-left: -80px;
}
.blog-date{
    font-size: 14px;
}
.btn-fb{
    /* padding: 20px; */
    padding: 20px 30px 20px 30px;
    background-color:red;
    border-radius: 30px;
    color: white;
    /* font-weight: bolder; */
    font-size: 20px;
    border: none;
    
}
.btn-fb2{
    padding: 20px;
    padding: 10px 20px ;
    background-color:red;
    border-radius: 30px;
    color: white;
    font-size: 20px;
    border: none;
    margin-top: 20px;
    
}
.btn-fb:hover{
    background-color: green;
    /* color: black; */
    transition: 0.7s linear;
    border: 0px;
}
#testimonial-bg{
    background: #f3f5ed;
    width: 100%;
    height: 700px;
    background-image: url(./assets/testimonials-bg.png);
    background-repeat: no-repeat;
    background-position: bottom;
    /* position: absolute; */

}
.testimonial-quote{
    width: 50%;
    margin: auto;
    margin-top: 50px;
}
#testimonial-quote-img{
    color:  #8dbf38;
}
#text-italic{
    padding-top: 20px;
    font-size: 19px;
    font-style: italic;
}
.green-hungry{
    position: absolute;
    margin-top: -800px;
    background: #8dbf38;
    height: 700px;  
    background-image: url(./assets/nutrion-right.png);
    padding-top:100px;
}
.card{
    width: 80%;
    margin: auto;
    height: 600px;
    background-color: white;
    border-radius: 24px;
    /* display: flex;
    justify-content: center; */
}
.hungry-plans{
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-evenly;
    gap: 15px;
    text-align: center;
  
}
.hungry-plans img{
width: 300px;
}

.plans-style{
    font-size: 20px;
    color: #8ec038;
    font-weight: bolder;
    text-align: left;
    margin-bottom: 10px;
}
.mt10{
    padding-top: 10px;
}


h4{
    margin-top: -2px;
    text-align: center;
}
h4+p{
    margin-left: -50px;
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
}
#client-diaries{
    width: 100%;
    margin-bottom: 30px;

}
.client-diaries-img{
    width: 80%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}
.diet-plans{
    width: 25%;
      margin-top: 90px;
}
h3{
    font-size: 25px;
}
#diet-main{
    width: 80%;
    margin: auto;
    display: flex;
}
    
.dish-img{
    margin-left: 400px;
}
.fix-bg{
    width: 100%;
    height: 500px;
    background-image: url("./assets/fix-bg.jpg") no-repeat center center/cover;;
    background-repeat: no-repeat;
    background-attachment: fixed;
  
}
.fix-bg-text{

    color: white;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    
}
.for-text{
    color: white;
    font-size: 50px;
    margin-top: 200px;
    margin-bottom: 40px;
    background-repeat: no-repeat;
}
@-webkit-keyframes test {
    0% {
      background-image: url('./assets/1.jpg');
      transform: scale(1.1);
      background-repeat: no-repeat;
    }
    
    20% {
      background-image: url('./assets/1.jpg');
      background-repeat: no-repeat;
      
    }
    
    40% {
      background-image: url('./assets/2.jpg');
      background-repeat: no-repeat;
    }
    
    60% {
      background-image: url('./assets/2.jpg');
      background-repeat: no-repeat;
    }
    
    80% {
      background-image: url('./assets/3.jpg');
      background-repeat: no-repeat;
    }
   
    100% {
      background-image: url('./assets/3.jpg') ;
      background-repeat: no-repeat;
      transform: scale(1.18);
    }
  }
  
  body>section{
            display: block;
            box-sizing: border-box;
            width: 100%;
            -webkit-animation-name: test;
            -webkit-animation-duration: 20s;
            -webkit-animation-iteration-count: infinite;
            -webkit-animation-direction: alternate;
            -webkit-animation-timing-function: linear;
            min-height: 500px;
            max-height: 501px;
  }
  .btn-hungry{
      padding: 5px 10px 5px 10px;
      border: #8dbf38;
      background:#8dbf38;
      color: white;
      border-radius: 10px;
      font-weight: bold;
      margin: auto;
  }
  .btn-hungry:hover{
    border:0.5px solid #8dbf38;
    color: #8dbf38;
    background: white;
  }
  .plate{
      position: relative;
  }




